.container {
  display: flex;
  width: 100%;
  height: 670px;
  padding-left: 150px;
  padding-right: 150px;
  outline: 3px solid red;
}

.containerLeft {
  width: 300px;
  height: 100%;
  outline: 3px solid red;
}

.containerRight {
  width: 1260px;
  height: 100%;
  padding-left: 40px;
  outline: 3px solid red;
}

.containerRightTop{
    font-size: 96px;
    font-weight: 500;
    color: #E5097F;
    outline: 3px solid red;
}

.con
