.container {
  display: flex;
  width: 100%;
  height: 700px;
  margin-top: 150px;
  padding: 5px;
  overflow: hidden;
  /* outline: 3px solid red; */
}

.containerLeft{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 150px;
  outline: 3px solid red;
}

.containerRight{
  height: 100%;
  width: 90%;
  outline: 3px solid blue;
}

