.container {
  display: flex;
  width: 100%;
  height: 700px;
  margin-top: 100px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* outline: 3px solid red; */
}

.containerCenter {
  display: flex;
  width: 70%;
  height: 100%;
  /* outline: 3px solid red; */
}

.containerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  /* padding-left: 50px; */
  /* outline: 3px solid red; */
}

.containerRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 40px;
  /* outline: 3px solid red; */
}

.containerRightTop {
  font-size: 96px;
  font-weight: 500;
  color: #e5097f;
  /* outline: 3px solid red; */
}

.containerRightBottom {
  display: grid;
  width: 1000px;
  grid-template-columns: repeat(2, 1fr); /* Два столбца */
  gap: 50px; /* Отступы между элементами */
}

.containerRightBottomBlock {
  display: flex;
  align-items: center;
  width: 450px;
  height: 150px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}

.containerRightBottomBlock span:first-of-type {
  font-size: 64px;
  font-weight: 700;
  padding-left: 20px;
  color: #e5097f;
}

.containerRightBottomBlock span:nth-of-type(2) {
  font-size: 24px;
  padding-left: 20px;
  font-weight: 400;
}

.containerMediaLeft {
  display: none;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    width: 100%;
    margin-top: 100px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* outline: 3px solid red; */
  }

  .containerCenter {
    display: flex;
    width: 70%;
    height: 100%;
    /* outline: 3px solid red; */
  }

  .containerLeft {
    display: none;
  }

  .containerMediaLeft {
    display: flex;
    flex-direction: column;
  }

  .containerMediaLeft img {
    height: 320px;
  }

  .containerRight {
    display: flex;
    height: 100%;
    padding-left: 40px;
    outline: 3px solid red;
  }

  .containerRightTop {
    font-size: 56px;
    font-weight: 500;
    color: #e5097f;
    margin-bottom: 5px;
    outline: 3px solid red;
  }

  .containerRightBottom {
    display: flex;
    flex-direction: column; /* Отступы между элементами */
    margin-top: -50px;
    outline: 3px solid red;
  }

  .containerRightBottomBlock {
    display: flex;
    align-items: center;
    width: 450px;
    height: 45px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
  }

  .containerRightBottomBlock span:first-of-type {
    font-size: 34px;
    font-weight: 600;
    padding-left: 20px;
    color: #e5097f;
  }

  .containerRightBottomBlock span:nth-of-type(2) {
    font-size: 24px;
    padding-left: 20px;
    font-weight: 400;
  }
}
