.container {
  display: flex;
  width: 100%;
  height: 670px;
  margin-top: 150px;
  padding: 5px;
  overflow: hidden;
  /* outline: 3px solid red; */
}

.containerLeft{
  display: flex;
  align-items: center;
  
  width: 12%;
  height: 100%%;
  padding-left: 150px;
  outline: 3px solid red;
}

.containerRight{
  height: 100%;
  /* outline: 3px solid blue; */
}

