.container {
  display: flex;
  width: 100%;
  height: 700px;
  margin-top: 150px;
  padding: 5px;
  overflow: hidden;
  /* outline: 3px solid red; */
}

.container

.containerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  /* padding-left: 50px; */
  outline: 3px solid red;
}

.containerRight {
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: 3px solid blue;
}

.containerRightTop {
  font-size: 96px;
  font-weight: 500;
  color: #e5097f;
  outline: 3px solid red;
}

.containerRightBottom {
 display: grid;
 grid-template-columns: repeat(2, 1fr); /* Два столбца */
 gap: 30px; /* Отступы между элементами */
}

.containerRightBottomBlock {
  display: flex;
  align-items: center;
  width: 380px;
  height: 150px;
  color: #fff;
  border: 1px solid #fff;
}

.containerRightBottomBlock span:first-of-type{
  font-size: 64px;
  font-weight: 700;
  color: #e5097f;
}
