.container {
  display: flex;
  width: 100%;
  height: 700px;
  margin-top: 150px;
  padding: 5px;
  overflow: hidden;
  /* outline: 3px solid red; */
}

.containerLeft{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 150px;
  outline: 3px solid red;
}

.containerRight{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 67%;
  outline: 3px solid blue;
}

.containerRightTop{
  font-size: 96px;
  font-weight: 500;
  color: #E5097F;
  outline: 3px solid red;
}

.co

.containerRightBottomBlock{
width: 456px;
height: 150px;
}

