.container {
  display: flex;
  width: 100%;
  height: 670px;
  margin-top: 150px;
  overflow: hidden;
  outline: 3px solid red;
}

.containerLeft{
  width: 30%;
  height: 100%;
  outline: 3px solid red;
}

.containerRight{
  width: 30%;
  height: 100%;
  outline: 3px solid red;
}

