@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.containerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 150px;
  gap: 40px;
}

/* logoA сверху вниз */
.containerLogo img:nth-of-type(1) {
  height: 146px;
  animation: slideDown 1s ease forwards;
}

/* центральные логотипы */
.containerLogoCenter {
  display: flex;
  gap: 45px;
}

/* logoAlazar слева направо */
.containerLogoCenter img:nth-of-type(1) {
  height: 79px;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

/* logoStudio справа налево */
.containerLogoCenter img:nth-of-type(2) {
  height: 79px;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

/* span снизу вверх */
.containerLogo span {
  font-size: 24px;
  font-weight: 500;
  animation: slideUp 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
  font-family: 'Mulish', sans-serif;
}

.containerCase {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1609px;
  align-items: center;
  margin-top: 115px;
}

.containerCaseTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1301px;
}

.containerCaseTopName {
  display: flex;
  gap: 49px;
}

.containerCaseTopName span:nth-of-type(1) {
  font-size: 96px;
  font-weight: 500;
  color: #fff;
  font-family: 'Mulish', sans-serif;
}

.containerCaseTopName span:nth-of-type(2) {
  font-size: 96px;
  font-weight: 500;
  color: #e5097f;
  font-family: 'Mulish', sans-serif;
}

.containerCaseTop img {
  width: 106px;
  cursor: pointer;
}

.categoryMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1301px;
  margin-top: 34px;
  gap: 1px;
}

.categoryMenu span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  height: 60px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-family: 'Mulish', sans-serif;
  cursor: pointer;
}

/* Основной стиль для десктопа */
.containerLogo img:nth-of-type(1) {
  height: 146px;
  animation: slideDown 1s ease forwards;
}

.containerLogoCenter img:nth-of-type(1) {
  height: 79px;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.containerLogoCenter img:nth-of-type(2) {
  height: 79px;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.containerLogo span {
  font-size: 24px;
  font-weight: 500;
  animation: slideUp 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

.containerCaseTopName span:nth-of-type(1),
.containerCaseTopName span:nth-of-type(2) {
  font-size: 96px;
  font-weight: 500;
  font-family: 'Mulish', sans-serif;
}

.containerCaseTop img {
  width: 106px;
  cursor: pointer;
}

.categoryMenu span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  height: 60px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-family: 'Mulish', sans-serif;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .container {
    padding: 0 50px;
  }

  .containerLogoCenter {
    gap: 45px;
  }

  .containerCase {
    max-width: 1280px;
    margin-top: 50px;
  }

  .containerCaseTop {
    max-width: 1280px;
  }

  .containerCaseTopName {
    gap: 39px;
  }

  .containerCaseTopName span:nth-of-type(1) {
    font-size: 86px;
  }

  .containerCaseTopName span:nth-of-type(2) {
    font-size: 86px;
  }

  .categoryMenu {
    max-width: 1301px;
  }

  .containerLogo img:nth-of-type(1) {
    height: 146px;
    animation: slideDown 1s ease forwards;
  }
}

@media (max-width: 480px) {

  .container {
    padding: 10px;
  }
  
  .containerLogo {
    margin-top: 120px;
    gap: 20px;
  }
  
  /* logoA сверху вниз */
  .containerLogo img:nth-of-type(1) {
    height: 79px !important;
  }
  
  /* центральные логотипы */
  .containerLogoCenter {
    gap: 12px;
  }
  
  /* logoAlazar слева направо */
  .containerLogoCenter img:nth-of-type(1) {
    height: 29px !important;
  }
  
  /* logoStudio справа налево */
  .containerLogoCenter img:nth-of-type(2) {
    height: 29px !important;
  }
  
  /* span снизу вверх */
  .containerLogo span {
    display: flex;
    align-items: center !important;
    justify-content: center;
    font-size: 16px !important;
  }
  
  .containerCase {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1609px;
    align-items: center;
    margin-top: 115px;
  }
  
  .containerCaseTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1301px;
  }
  
  .containerCaseTopName {
    display: flex;
    gap: 49px;
  }
  
  .containerCaseTopName span:nth-of-type(1) {
    font-size: 96px;
    font-weight: 500;
    color: #fff;
    font-family: 'Mulish', sans-serif;
  }
  
  .containerCaseTopName span:nth-of-type(2) {
    font-size: 96px;
    font-weight: 500;
    color: #e5097f;
    font-family: 'Mulish', sans-serif;
  }
  
  .containerCaseTop img {
    width: 106px;
    cursor: pointer;
  }
  
  .categoryMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1301px;
    margin-top: 34px;
    gap: 1px;
  }
  
  .categoryMenu span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: 'Mulish', sans-serif;
    cursor: pointer;
  }
  
  /* Основной стиль для десктопа */
  .containerLogo img:nth-of-type(1) {
    height: 146px;
    animation: slideDown 1s ease forwards;
  }
  
  .containerLogoCenter img:nth-of-type(1) {
    height: 79px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }
  
  .containerLogoCenter img:nth-of-type(2) {
    height: 79px;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }
  
  .containerLogo span {
    font-size: 24px;
    font-weight: 500;
    animation: slideUp 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
  }
  
  .containerCaseTopName span:nth-of-type(1),
  .containerCaseTopName span:nth-of-type(2) {
    font-size: 96px;
    font-weight: 500;
    font-family: 'Mulish', sans-serif;
  }
  
  .containerCaseTop img {
    width: 106px;
    cursor: pointer;
  }
  
  .categoryMenu span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: 'Mulish', sans-serif;
    cursor: pointer;
  }

}
