.container4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  color: #fff;
}

.container4Title span:first-of-type {
  font-size: 96px;
  color: #fff;
}

.container4Title span:nth-of-type(2) {
  font-size: 96px;
  color: #e5097f;
  margin-left: 40px;
}

.lineFirst {
  width: 808px;
  height: 430px;
  z-index: 9;
  margin-left: 300px;
  margin-top: -96px;
}

.line {
  width: 807px;
  height: 277px;
  z-index: 9;
}

.lineLeft{
margin-left: -180px;
}

.lineRight{
margin-left: 230px;
}

.container4PeopleLeft {
  width: 1238px;
  height: 533px;
  margin-top: -100px;
  margin-bottom: -70px;
}

.container4PeopleRight {
  width: 1238px;
  height: 533px;
  margin-top: -100px;
  margin-bottom: -70px;
}

.lineBottom{
  width: 740px;
}

.container4Bottom{
  display: flex;
  align-items: center;
  width: 918px;
  height: 243px;
  padding: 10px 40px 10px 40px;
  border-radius: 30px;
  margin-top: -50px;
  background-color: #E5097F33;
}

.container4Bottom span{
  width: 806px;
  height: 137px;
  font-size: 20px;
  line-height: 30px;
}

.container4Media{
  display: none;
}


@media (max-width: 768px) {
.container4 {
  display: none;
}

.container4Media{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container4Bottom{
  width: 335px;
  height: 243px;
  padding: 0;
  margin: 40px 0 0 0;
}

.container4Bottom span{
  font-size: 14px;
  padding: 0;
  margin-left: 20px;
  line-height: 21px;
}

}
