.container4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  color: #fff;
}

.container4Title span:first-of-type {
  font-size: 96px;
  color: #fff;
}

.container4Title span:nth-of-type(2) {
  font-size: 96px;
  color: #e5097f;
  margin-left: 40px;
}

.lineFirst {
  width: 808px;
  height: 430px;
  z-index: 9;
  margin-left: 370px;
  margin-top: -96px;
}

.line {
  width: 807px;
  height: 277px;
  margin-left: 200px;
  z-index: 9;
}

.line

.container4PeopleLeft {
  width: 1238px;
  height: 533px;
  margin-top: -100px;
  outline: 1px solid red;
  margin-bottom: -70px;
}

.container4PeopleRight {
  width: 1238px;
  height: 533px;
  margin-top: -170px;
  margin-bottom: -70px;
  outline: 1px solid red;
}

@media (max-width: 768px) {
}
