.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .modalContent {
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
    width: 75%;
    height: 85dvh;
    overflow-y: auto;
    border-radius: 12px;
    position: relative;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    margin-top: 30px;
  }

  .modalContent::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  .title{
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    font-weight: 600;
    padding: 20px  12px;
    /* outline: 1px solid red; */

  }
  
  .closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 35px;
    width: 35px;
    top: 9%;
    right: 8%;
    background-color: #fff;
    border-radius: 50px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    z-index: 10000000;
    align-self: flex-end; 
    
  }

  .images{
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 0;
  }
  
  
  .images img {
    width: 100%;
    
  }

  .developersTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* padding: 0 200px; */
    gap: 10px;
    border-bottom: 1px solid #e5097f;
    /* padding-bottom: 40px; */
    margin-top: 20px;
    padding-bottom: 15px;
  }
  
  .developersTitle span {
    font-size: 42px;
    font-weight: 500;

  }
  
  .developersTitle span:nth-of-type(2) {
    color: #e5097f;

  }

  .developersList {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .developer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .developer img {
    width: 55px;
    height: 55px;
    border-radius: 150px;
  }

  .developersListBottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
    
  }

  .developerBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .developerBottom img {
    width: 65px;
    height: 65px;
    border-radius: 150px;
  }
  
  .developerInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .developerInfo span:nth-of-type(1) {
    font-size: 22px;
    font-weight: 500;
  }
  
  .developerInfo span:nth-of-type(2) {
    font-size: 20px;
    font-weight: 500;
    color: #e5097f;
  }
  

  @media (max-width: 768px) {

    
      .modalContent {
        display: flex;
        flex-direction: column;
        background: #fff;
        color: #000;
        width: 90%;
        height: 90dvh;
      
        margin-top: 0;
      }
    
      .modalContent::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
      }
    
      .info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
      }
    
      .title{
        display: flex;
        justify-content: space-between;
        font-size: 26px;
        font-weight: 600;
        padding: 20px  12px;
        /* outline: 1px solid red; */
    
      }
      
      .closeButton {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 35px;
        width: 35px;
        top: 9%;
        right: 8%;
        background-color: #fff;
        border-radius: 50px;
        font-size: 30px;
        border: none;
        cursor: pointer;
        z-index: 10000000;
        align-self: flex-end; 
        
      }
    
      .images{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;
      }
      
      
      .images img {
        width: 100%;
        
      }
    
      .developersTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* padding: 0 200px; */
        gap: 10px;
        border-bottom: 1px solid #e5097f;
        /* padding-bottom: 40px; */
        margin-top: 20px;
        padding-bottom: 15px;
      }
      
      .developersTitle span {
        font-size: 42px;
        font-weight: 500;
    
      }
      
      .developersTitle span:nth-of-type(2) {
        color: #e5097f;
    
      }
    
      .developersList {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      
      .developer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
      
      .developer img {
        width: 55px;
        height: 55px;
        border-radius: 150px;
      }
    
      .developersListBottom {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 30px;
        flex-wrap: wrap;
        
      }
    
      .developerBottom {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
    
      .developerBottom img {
        width: 65px;
        height: 65px;
        border-radius: 150px;
      }
      
      .developerInfo {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      
      .developerInfo span:nth-of-type(1) {
        font-size: 22px;
        font-weight: 500;
      }
      
      .developerInfo span:nth-of-type(2) {
        font-size: 20px;
        font-weight: 500;
        color: #e5097f;
      }
      

  }