.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .modalContent {
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
    max-width: 75%;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 12px;
    position: relative;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
  }

  .modalContent::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  .modalContent span{
    margin-top: 20px;
  }
  
  .closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    height: 35px;
    width: 35px;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    z-index: 10;
    align-self: flex-end; 
    margin: 12px;
  }
  
  
  .images img {
    width: 100%;
    height: ;
    margin-bottom: 12px;
  }
  