.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .modalContent {
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
    max-width: 75%;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 12px;
    position: relative;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    /* margin-top: 50px; */
  }

  .modalContent::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  .title{
    font-style: 24px;
    
  }
  
  .closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    height: 35px;
    width: 35px;
    top: 15px;
    right: 15px;
    background-color: #fff;
    border-radius: 50px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    z-index: 10;
    align-self: flex-end; 
    
  }
  
  
  .images img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 12px;
  }

  .developersList {
    display: flex;
    align-items: center;
    gap: 100px;
  }
  
  .developer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  
  .developer img {
    width: 55px;
    height: 55px;
    border-radius: 150px;
  }
  
  /* .developerInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .developerInfo span:nth-of-type(1) {
    font-size: 24px;
    font-weight: 500;
  }
  
  .developerInfo span:nth-of-type(2) {
    font-size: 22px;
    font-weight: 500;
    color: #e5097f;
  } */
  