.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.container img:first-of-type{
    width: 140px;
    height: 120px;
}

.container span{
    font-size: 20px;
    font-weight: 400;
}

.container img:nth-of-type(2){
    height: 60px;
}