.container{
width: 100%;
color: #fff;
margin-top: 100px;
padding-left: 210px;
}

.containerTitle{
    font-size: 96px;
    margin-top: 70px;
}

.containerTitle span:

.card{
    width: 100%;
    color: #fff;
    margin-top: 100px;
    }

