* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {
    /* --blockWidth: 1300px; */
}

body {
    background-color: #131313;
    color: #fff;
    width: 100%; /* Сделаем тело на всю ширину */
    min-width: 100vw; /* Минимальная ширина 100% от окна */
    /* margin-top: 0px; */
}

main {
 
    padding: 0; /* Убираем лишние отступы */
}
