* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Это помогает учитывать отступы и бордеры в ширину */
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {
    --blockWidth: 100%; /* Убедитесь, что вы не ограничиваете ширину */
}

body, html {
    width: 100%; /* Устанавливаем для всего документа */
    height: 100%; /* Убедитесь, что высота тоже 100% */
    margin: 0; /* Убираем стандартные отступы */
    padding: 0;
    overflow-x: hidden; /* Убираем горизонтальный скролл */
}

body {
    background-color: #131313;
    color: #fff;
}

main {
    width: 100%; /* Контент будет занимать всю ширину */
    height: 100%; /* Высота тоже на всю страницу */
    padding: 0; /* Убираем лишние отступы */
    box-sizing: border-box; /* Это важно для точных расчетов ширины */
}
