.container2{
    width: 100%;
    margin-top: 30px;
    color: aliceblue;
}

.container2Title{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding-right: 150px;
}

.container2Title span:first-of-type{
    font-size: 96px;
    font-weight: 500;
    color: #E5097F;
}

.container2Title span:nth-of-type(2){
    font-size: 96px;
    font-weight: 500;
    color: #fff;
}

.container2Info{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    
}

.container2InfoBlock{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 70px;
}

.container2InfoBlockElement{
    display: flex;
    align-items: center;
    outline: 3px solid red;
}

.container2InfoBlockElement img{
    width: 32px;
    height: 32px;
}

.container2InfoBlockElement span{
    font-size: 24px;
    font-weight: 400;
    margin-left: 20px;
}



@media (max-width: 768px) {
    .container2{
        width: 100%;
        /* margin-top: 30px; */
        color: aliceblue;
    }
    
    .container2Title{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-left: 30px;
    }
    
    .container2Title span:first-of-type{
        font-size: 28px;
        font-weight: 500;
        color: #E5097F;
    }
    
    .container2Title span:nth-of-type(2){
        font-size: 28px;
        font-weight: 500;
        color: #fff;
    }
    
    .container2Info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }
    
    .container2InfoBlock{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-top: 70px;
    }
    
    .container2InfoBlockElement{
        display: flex;
        align-items: center;
        outline: 3px solid red;
    }
    
    .container2InfoBlockElement img{
        width: 19px;
        height: 19px;
    }
    
    .container2InfoBlockElement span{
        font-size: 16px;
        font-weight: 400;
        margin-left: 20px;
    }
}