.container1 {
}

.title-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  color: #fff;

  /* overflow: hidden; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 640px;
  height: 700px;
  font-size: 20px;
  font-weight: 400;
}

.a1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 320px;
}

.title-part {
  display: flex;
  flex-direction: column;
  opacity: 0; /* Стартовая невидимость */
  position: relative;
  animation: fly-in 1.5s ease-out forwards;
  animation-delay: var(--delay, 0s); /* Используем переменную */
  margin: 10px;
}

.title-part span {
  color: aliceblue;
  font-size: 20px;
  font-weight: 400;
}

.title-part1 {
  display: flex;
  flex-direction: column;
  opacity: 0; /* Стартовая невидимость */
  position: relative;
  animation: fly-in 1.5s ease-out forwards;
  animation-delay: var(--delay, 0s); /* Используем переменную */
  margin: 10px;
}

.title-part1 span {
  color: aliceblue;
  font-size: 20px;
  font-weight: 400;
}

.title-part1:nth-child(1) {
  animation-name: fly-in-left; /* Анимация для нечётных */
}

.title-part:nth-child(1) {
  animation-name: fly-in-top; /* Анимация для нечётных */
}

.title-part:nth-child(2) {
  animation-name: fly-in-right; /* Анимация для чётных */
}

.title-part:nth-child(2) {
  animation-name: fly-in-bottom; /* Анимация для чётных */
}

@keyframes fly-in-left {
  0% {
    transform: translateX(-800px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fly-in-right {
  0% {
    transform: translateX(800px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fly-in-top {
  0% {
    transform: translateY(-1300px); /* Стартовая позиция выше */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Финальная позиция */
    opacity: 1;
  }
}

@keyframes fly-in-bottom {
  0% {
    transform: translateY(700px); /* Стартовая позиция ниже */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Финальная позиция */
    opacity: 1;
  }
}

.title-container2 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 86px;
  font-weight: 500;
  color: #fff;
  width: 1100px;
  margin-left: 200px;
  margin-top: 70px;
  /* overflow: hidden; */
}

.title-part2 {
  /* opacity: 0;  */
  animation-delay: var(--delay, 0s);
  margin-left: 10px;
  font-size: 90px;
}

.title-part2 span:nth-of-type(2) {
  color: #e5097f;
}

.title-part2 {
  animation-name: fly-in-right; /* Анимация для чётных */
}

.container2 {
  display: none;
}

@media (max-width: 768px) {
  .container1 {
    display: none;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 768px; */
    /* outline: 3px solid red; */
  }

  .container2 img:first-of-type {
    width: 178px;
    margin-top: 90px;
    margin-bottom: 50px;
  }

  .container2 img:nth-of-type(2) {
    width: 263px;
    margin-bottom: 40px;
  }

  .container2 span:first-of-type {
    font-size: 16px !important;
    font-weight: 400;
    color: #fff;
    margin-bottom: 5px;
    margin-right: 6px;
  }

  .container2 span:nth-of-type(2) {
    font-size: 16px !important;
    color: #fff;
  }

  .container2 button {
    width: 263px;
    height: 55px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #e5097f;
    border-radius: 8px;
    border: none;
    margin-top: 40px;
  }

  .container2Span {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .container2Span span:first-of-type {
    font-size: 28px !important;
    font-weight: 500;
    margin: 5px;
    color: #fff;
  }

  .container2Span span:nth-of-type(2) {
    font-size: 28px !important;
    font-weight: 500;
    color: #e5097f;
  }

  .container2Span span:nth-of-type(3) {
    font-size: 28px;
    font-weight: 500;
    margin: 5px;
    color: #fff;
  }
}
