.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 815px;
  align-items: center;
  justify-content: center;
  /* outline: 3px solid red; */
  background-color: #000000;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.container img {
  transition: transform 0.5s ease-out;
}

.container img:first-of-type {
  position: absolute;
  left: 214px;
  top: 90px;
}
.container img:nth-of-type(2) {
  display: flex;
  position: absolute;
  height: 800px;
  left: -550px;
  top: -110px;
}
.container img:nth-of-type(3) {
  position: absolute;
  width: 450px;
  left: 211px;
  top: 380px;
  opacity: 0.9;
  /* outline: 3px solid red; */
}
.container img:nth-of-type(4) {
  position: absolute;
  display: flex;
  height: 330px;
  left: 283px;
  top: 720px;
  z-index: 999;
}
.container img:nth-of-type(5) {
  position: absolute;
  width: 450px;
  height: 330px;
  left: 151px;
  top: 300px;
  /* outline: 3px solid red; */
}

.container img:nth-of-type(6) {
  position: absolute;
  top: 910px;
  left: 950px;
  width: 650px;
  height: 800px;
  z-index: 9999;
}

.container img:nth-of-type(7) {
  position: absolute;
  top: 20px;
  left: 1970px;
  width: 800px;
}

.ContainerBottom {
  width: 100%;
  height: 150px;
  position: absolute;
  color: #fff;
  /* outline: 3px solid red; */
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.ContainerBottom1 {
  display: flex;
  height: 50%;
  align-items: center;
  font-size: 43px;
  font-weight: 500;
  margin-left: 70px;
  /* outline: 3px solid red; */
}

.ContainerBottom2 {
  display: flex;
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* outline: 3px solid red; */
}

.ContainerBottom2 span {
  margin-left: 70px;
  font-size: 16px;
  font-weight: 400;
}

.ContainerBottom2 button {
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  background-color: inherit;
  color: #fff;
  border: 0.2px solid #848484;
  margin-right: 70px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.ContainerBottom2 button:hover {
  background-color: #e5097f;
  border: none;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    position: relative;
    width: 100%;
    height: 555px;
  }

  .container img:first-of-type {
    position: absolute;
    width: 184px;
    height: 23px;
    top: 40px;
    left: 50px;
  }

  .container img:nth-of-type(2) {
    display: flex;
    position: absolute;
    height: 400px;
    left: 550px;
    top: -110px;
    outline: 3px solid red;
  }
  .container img:nth-of-type(3) {
    position: absolute;
    width: 450px;
    left: 211px;
    top: 380px;
    opacity: 0.9;
    /* outline: 3px solid red; */
  }
  .container img:nth-of-type(4) {
    position: absolute;
    display: flex;
    height: 330px;
    left: 283px;
    top: 720px;
    z-index: 999;
  }
  .container img:nth-of-type(5) {
    position: absolute;
    width: 450px;
    height: 330px;
    left: 151px;
    top: 300px;
    /* outline: 3px solid red; */
  }

  .container img:nth-of-type(6) {
    position: absolute;
    top: 910px;
    left: 950px;
    width: 650px;
    height: 800px;
    z-index: 9999;
  }

  .container img:nth-of-type(7) {
    position: absolute;
    top: 20px;
    left: 1970px;
    width: 800px;
  }

  /* Анимация для движения текста */
  @keyframes moveText {
    0% {
      left: 770px; /* Начальное положение за пределами экрана */
    }
    100% {
      left: -1690px; /* Конечная позиция - за пределами экрана слева */
    }
  }

  .container img:nth-of-type(3) {
    position: absolute;
    height: 300px;
    top: 70px;
    z-index: 99999;
    align-items: center;
  }

  .ContainerBottom {
    display: none;
  }

  .ContainerMediaBottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 220px;
    position: absolute;
    color: #fff;
    bottom: 0;
    background: linear-gradient(to bottom, #444444, #343434);
  }

  .ContainerMediaBottom1 {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    margin-left: 30px;
    /* outline: 3px solid red; */
  }

  .ContainerMediaBottom1 span:first-of-type {
    font-size: 27px;
    font-weight: 500;
    margin-top: 10px;
  }

  .ContainerMediaBottom1 span:nth-of-type(2) {
    font-size: 17px;
    margin-top: 10px;
    font-weight: 400;
  }

  .ContainerMediaBottom2 {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding-left: 20px;
    /* outline: 3px solid red; */
  }

  .ContainerMediaBottom2 button {
    font-size: 16px;
    padding: 10px;
    margin-top: 25px;
    border-radius: 7px;
    background-color: inherit;
    color: #fff;
    border: 0.2px solid #848484;
    margin-right: 70px;
    cursor: pointer;
    background-color: #e5097f;
    border: none;
    /* transition: background-color 0.2s ease-in-out; */
  }
}
