.containerCaseMenu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1609px;
  margin-top: 80px;
}

.caseItem {
  display: flex;
  flex-direction: column;
  width: 507px;
  height: 507px;
}

.caseItem img {
  width: 100%;
}
