.WidthBlock{
    width: var(--blockWidth);
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media (min-width: 0px) and (max-width: 1920px) {
    .WidthBlock{
        width: 1920px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}