.modalRoot {
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(0);
  opacity: 1;
  -webkit-overflow-scrolling: touch;
  color: #fff;
}



.modalRoot {
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: unset; /* ВАЖНО */
  -webkit-overflow-scrolling: touch;
}
.hiding {
  transform: translateY(100%);
  opacity: 0;
}

.preloaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.descText ul,
.block_text ul {
  padding-left: 1.2rem;
  /* margin-bottom: 1rem; */
  list-style: disc;
}

.descText ol,
.block_text ol {
  padding-left: 1.2rem;
  margin-bottom: 1rem;
  list-style: decimal;
}

.descText li,
.block_text li {
  margin-bottom: 0.4rem;
}

.block_text ul,
.block_text ol {
  display: block; /* обязательно */
  flex-direction: column; /* на всякий случай */
  /* padding-left: 1.5rem; */
  /* margin: 1rem 0; */
  list-style-type: disc;
  list-style-position: outside;
}

.block_text li {
  display: list-item !important; /* принудительно делаем блок */
  margin-bottom: 0.5rem;
  /* line-height: 1.5; */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: #f40087;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.modalRoot {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.modalRoot::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.descText1 {
  color: #000;
  padding: 20px 70px;
}

.title {
}

@keyframes rotateOnClick {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.2);
  }
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 35px;
  width: 35px;
  height: 35px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 50%;
  z-index: 9999;
  transition: all 0.3s ease;
  cursor: pointer;
  padding-bottom: 1px;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.1) rotate(90deg); /* добавим вращение */
}

.closeButton.clicked {
  animation: rotateOnClick 0.5s ease-out;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
  padding-bottom: 0;
}

.topRow {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 500;
  font-size: 26px;
}

.categories {
  color: #f40087;
  font-weight: 500;
  margin-top: 8px;
}

.devButton {
  color: #fff;
  text-transform: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
}

.devAvatars {
  display: flex;
  align-items: center;
}

.popoverList {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  color: #000;
}

.popoverList1 {
  width: 300px;
  color: #fff !important;
  color: #000;
}

.devRole {
  color: #f40087 !important;
}

.contBlock {
  display: flex;
  width: 100%;
  background-color: #fff !important;
}

.imagesWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-top: 24px;
  background-color: #fff !important;
}

.blockTop {
  display: flex;
  width: 100%;
  padding: 50px;
  padding-bottom: 70px;
  /* outline: 1px solid red; */
  /* min-height: 500px; */
}

.block_text {
  display: flex;
  flex-direction: column;
  background-color: #fff !important;
  color: #000;
  /* padding: 10px; */
  /* width: 33.33333333333333%; */
  /* border-bottom: 1px solid #000; */
}

.block_text span:nth-of-type(1) {
  font-size: 20px;
  font-weight: 700;
  /* border-bottom: 1px solid #000; */
  padding: 10px 20px;
}

.block_text div {
  /* display: flex; */
  width: 100%;
  /* height: 600px; */
  padding: 10px 20px;
}

.block_text:nth-of-type(1),
.block_text:nth-of-type(2) {
  width: 35%;
  /* border-right: 1px solid #000; */
}

.block_text:nth-of-type(3) {
  width: 33.3333333%;
}

.block_img {
  width: 100%;
  background-color: #fff !important;
}

.imageBox {
  background-color: #fff !important;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descText {
  display: flex;
  /* flex-direction: column; */
  background-color: #fff;
  color: #000;
  /* padding: 10px; */
  width: 100%;
  padding: 50px;
  line-height: 150%;
}

/* .messengerBlockTop {
  position: fixed;
  right: 36px;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 4;
} */

.messengerBlock {
  position: absolute;
  right: -65px;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.messengerBlockMobile {
  display: none;
}

.popoverListMobile {
  display: none;
}

.toast {
  position: fixed;
  top: 30px; /* ⬅️ теперь сверху */
  left: 50%;
  transform: translateX(-50%);
  background: #f40087;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  z-index: 10000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: fadeInOutTop 2s ease-in-out forwards;
}

@keyframes fadeInOutTop {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}

@media (max-width: 768px) {
  .modalRoot {
    width: 100% !important;
  }

  .closeButton {
    /* font-size: 14px; */
    /* width: 24px;
    height: 24px; */
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding-bottom: 0;
    background-color: #3f3f3f;
  }

  .container {
    width: 100% !important;
    padding: 10px;
  }

  .topRow {
    display: flex;
    width: 100% !important;
    justify-content: space-between;
    /* outline: 1px solid red; */
  }

  .title {
    width: 100%;
    /* outline: 1px solid red; */
    font-size: 22px !important;
  }

  .categories {
    color: #f40087;
    font-weight: 500;
    margin-top: 8px;
  }

  .devButton {
    display: none !important;
  }

  .devAvatars {
    display: none;
  }

  .popoverList {
    display: none;
  }

  .popoverListMobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    color: #000;
  }

  .devRole {
    color: #f40087 !important;
  }

  .blockTop {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }

  .block_text {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    /* padding: 10px; */
    width: 100% !important;
    /* border-bottom: 1px solid #000; */
  }

  .block_text span:nth-of-type(1) {
    font-size: 20px;
    font-weight: 700;
    border-bottom: none;
    padding: 10px;
    padding-bottom: none;
  }

  .block_text div {
    /* display: flex; */
    width: 100%;
    padding: 10px;
    padding-top: none;
    /* outline: 1px solid red; */
  }

  .descText {
    display: flex;
    /* flex-direction: column; */
    background-color: #fff;
    color: #000;
    /* padding: 10px; */
    width: 100%;
    padding: 20px;
    line-height: 150%;
  }


  .imagesWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 15px;
  }

  .imageBox {
    background-color: #fff;
  }

  .image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .messengerBlockTop {
    display: none;
  }

  .messengerBlock {
    position: absolute;
    right: -65px;
    top: 0;
    display: none;
    flex-direction: column;
    gap: 8px;
  }

  .descText1 {
  color: #000;
  padding: 20px;
}

  .messengerBlock {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
    background-color: #fff;
  }

  .popoverListMobile {
    display: flex;
  }

  .messengerBlockTop {
    display: none;
  }

  .popoverList1 {
    display: none;
  }
}
