.container3{
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    padding: 20px 20px 20px ;
    justify-content: space-evenly;
}

.container3Left{
    width: 270px;
    height: 608px;
}

.container3Center{
    width: 515px;
    height: 461px;
}

.container3Right{
    width: 381px;
}



@media (max-width: 768px) {}