.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 815px;
  align-items: center;
  justify-content: center;
  background-image: url('/images/pritFone.png');
  /* font-weight: bold; */
  overflow: hidden;
}

.containerBaloon1 {
  position: absolute;
  width: 284px;
  left: 1400px;
  top: 840px;
  /* z-index: 999; */
  animation: moveText 16s linear infinite;
}

.containerBaloon2 {
  position: absolute;
  left: 100px;
  width: 200px;
  animation: moveText 11s linear infinite;
  align-items: center;
}

.containerLogo{
  display: flex;
  position: relative;
  width: 470px;
  height: 190px !important;
  margin-top: -80px;
  align-items: center;
  justify-content: center;
 
}

.containerLogo img:first-of-type{
  position: absolute;
  width: 470px;
  height: 590px !important;
  align-items: center;
}

.containerLogo img:nth-of-type(2){
  position: absolute;
  width: 400px;
  top: -90px;
  height: 190px !important;
  align-items: center;
}

/* Анимация для движения текста */
@keyframes moveText {
  0% {
    top: 670px; /* Начальное положение за пределами экрана */
  }
  100% {
    top: -400px; /* Конечная позиция - за пределами экрана слева */
  }
}

.container img:nth-of-type(3) {
  position: absolute;
  height: 660px;
  z-index: 99999;
  align-items: center;
}

.ContainerBottom {
  width: 100%;
  height: 150px;
  position: absolute;
  color: #fff;
  
  /* outline: 3px solid red; */
  bottom: 0;
  background: linear-gradient(to bottom, #1934BF, #1934BF);
}

.ContainerBottom1 {
  display: flex;
  height: 50%;
  align-items: center;
  font-size: 43px;
  font-weight: 500;
  margin-left: 70px;
  /* outline: 3px solid red; */
}

.ContainerBottom2 {
  display: flex;
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* outline: 3px solid red; */
}

.ContainerBottom2 span {
  margin-left: 70px;
  font-size: 20px;
  font-weight: 400;
}

.ContainerBottom2 button {
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  background-color: inherit;
  color: #fff;
  border: 0.2px solid #848484;
  margin-right: 70px;
  margin-left: -30px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.ContainerBottom2 button:hover {
  background-color: #e5097f;
  border: none;
}
