.Container {
  display: flex;
  position: relative;
  width: 100%;
  height: 815px;
  outline: 3px solid red;
}

.ContainerLeft {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
  outline: 3px solid red;
}

.ContainerLeft img:first-of-type {
  display: flex;
  width: 268px;
  height: 68px;
  top: 90px;
  margin-top: -100px;
  margin-bottom: 40px;
  outline: 3px solid red;
}

.ContainerLeft img:nth-of-type(2) {
  width: 357px;
  height: 435px;
  outline: 3px solid red;
}

.ContainerRight {
  display: flex;
  overflow: hidden;
  width: 70%;
  height: 100%;
  outline: 3px solid red;
}

.ContainerRight img {
  width: 413px;
  height: 600px;
  margin: 20px;
}

.ContainerRight img:first-of-type {
    margin-top: 400px;
}

.ContainerRight img:nth-of-type()
