.container2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 407px;
  overflow-y: scroll; /* Вертикальная прокрутка */
  scroll-snap-type: y mandatory; /* Привязка к элементам */
}


.container2 img {
  width: 100%;
  height: 407px; /* Устанавливаем высоту равной контейнеру */
  object-fit: cover; /* Сохраняем пропорции изображений */
  scroll-snap-align: center; /* Центрируем изображение */
}
