.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s ease-in-out;
}

.containerNav {
  display: flex;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between; /* Логотип слева, меню справа */
  width: 100%;
  height: 98px;
  background: transparent; /* Начально прозрачный */
  transition: background 0.3s ease-in-out;
  padding: 0 20px;
}

.scrolled {
  background: #131313; /* Черный фон при скролле */
}

.logo {
  height: 49px;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

li a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

/* li a:hover {
  color: #81212D;
} */
