.headerContainer {
    height: 98px;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1000;
}

.navigate {
    display: flex;
    height: 98px;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.navigate a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.navigate img {
    width: 176px;
    height: 49px;
    cursor: pointer;
}


.menuToggle {
    /* display: none;  */
    font-size: 24px; /* Размер иконки меню */
    cursor: pointer;
    right: 10px;
    width: 23px;
    height: 15px;
    align-items: center;
    ju
    outline: 3px solid red; /* Указатель при наведении */
}


/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    .navigate {
        flex-direction: column; /* Изменение направления на колонку */
        height: auto; /* Автоматическая высота */
        align-items: flex-start; /* Выровнять элементы по левому краю */
    }

    .navigate a {
        font-size: 14px; /* Уменьшение размера шрифта */
        padding: 10px 0; /* Добавление отступов для кликабельности */
    }

    .navigate img {
        width: 150px; /* Уменьшение размера логотипа */
        height: auto; /* Автоматическая высота */
    }

    .menuToggle {
        display: block;
        color: #FFFFFF; /* Показываем кнопку меню */
    }

    .navigate {
        display: none; /* Скрываем меню по умолчанию */
        flex-direction: column; /* Вертикальное расположение */
        width: 100%; /* Полная ширина */
        background-color: black; /* Фон меню */
    }

    .navigate.showMenu {
        display: flex; /* Показываем меню при открытии */
    }
}
