.headerContainer{
    height: 98px;
    align-items: center;
    justify-content: center;
    outline: 3px solid red;
    background-color: black;
}

.navigate{
    display: flex;
    height: 98px;
    align-items: center;
    
    outline: 3px solid red;
}