* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: #131313;
  color: #fff;
  width: 100%;
}



main {
  padding: 0;
}

*{
  outline: none !important;
}

:root {
  /* --blockWidth: 1300px; */
}
