.container {
  width: 100%;
  padding-left: 265px;
  padding-right: 265px;
  margin-top: 80px;
  color: #fff;
  /* outline: 3px solid red; */
}

.containerName span:first-of-type {
  font-size: 96px;
  color: #fff;
}

.containerName span:nth-of-type(2) {
  font-size: 96px;
  margin-left: 40px;
  color: #e5097f;
}

.containerInput {
  display: flex;
  width: 100%;
  outline: 3px solid red;
}

.containerInputLeft {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
  width: 50%;
}

.containerInput input {
  width: 600px;
  padding: 10px;
  margin-top: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  background-color: inherit;
  border-bottom: 1px solid #fff;
  outline: none;
}

.containerInputRight {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.containerBottom {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.containerBottom button{
    display: flex;
    width: 285px;
    height: 55px;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #e5097f;
    border-radius: 10px;
    cursor: pointer;
}

.containerBottomCheck{
    border-radius: 15px;
}
