.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* padding-left: 265px;
  padding-right: 265px; */
  margin-top: 150px;
  color: #fff;
  height: 600px;
  justify-content: space-between;
  /* outline: 3px solid red; */
}

.containerCenter {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  /* outline: 3px solid red; */
}

.containerName span:first-of-type {
  font-size: 96px;
  color: #fff;
}

.containerName span:nth-of-type(2) {
  font-size: 96px;
  margin-left: 40px;
  color: #e5097f;
}

.containerInput {
  display: flex;
  width: 100%;
  /* outline: 3px solid red; */
}

.containerInputLeft {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
  width: 50%;
}

.containerInput input {
  width: 600px;
  padding: 10px;
  margin-top: 70px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  background-color: inherit;
  border-bottom: 1px solid #fff;
  outline: none;
  
}

.containerInputRight {
  display: flex;
  flex-direction: column;
  width: 50%; 
}

.containerBottom {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.containerBottom button {
  display: flex;
  width: 285px;
  height: 55px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #e5097f;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-right: 40px;
}

.containerBottom span {
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
}

.containerBottom a {
  color: #e5097f;
}

.containerCenterMedia{
  display: none;
}


@media (max-width: 768px) {

.containerCenter{
  display: none;
}

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* padding-left: 265px;
    padding-right: 265px; */
    margin-top: 150px;
    color: #fff;
    justify-content: space-between;
    /* outline: 3px solid red; */
  }
  
  .containerCenterMedia {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    /* outline: 3px solid red; */
  }

  .containerNameMedia{
    display: flex;
    flex-direction: column;
    right: 10px;
    
  }
  
  .containerNameMedia span:first-of-type {
    font-size: 46px;
    color: #fff;
  }
  
  .containerNameMedia span:nth-of-type(2) {
    font-size: 46px;
    color: #e5097f;
  }
  
  .containerInputMedia {
    display: flex;
    flex-direction: column;
    width: 100%;
    outline: 3px solid red;
  }
  

  
  .containerInputMedia input {
    width: 500px;
    padding: 10px;
    margin-top: 70px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background-color: inherit;
    border-bottom: 1px solid #fff;
    outline: none;
    
  }
  

  
  .containerBottomMedia {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 40px;
  }
  
  .containerBottomMedia button {
    display: flex;
    width: 285px;
    height: 55px;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #e5097f;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-right: 40px;
  }
  
  .containerBottomMedia span {
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
  }
  
  .containerBottomMedia a {
    color: #e5097f;
  }

}