.container {
  width: 100%;
  padding-left: 265px;
  padding-right: 265px;
  margin-top: 80px;
  color: #fff;
  /* outline: 3px solid red; */
}

.containerName span:first-of-type {
  font-size: 96px;
  color: #fff;
}

.containerName span:nth-of-type(2){
    font-size: 96px;
    margin-left: 40px;
    color: #E5097F;
}

.containerInput{
    display: flex;
}
