.container {
  width: 100%;
  padding-left: 265px;
  padding-right: 265px;
  margin-top: 80px;
  color: #fff;
  /* outline: 3px solid red; */
}

.containerName span:first-of-type {
  font-size: 96px;
  color: #fff;
}

.containerName span:nth-of-type(2) {
  font-size: 96px;
  margin-left: 40px;
  color: #e5097f;
}

.containerInput {
  display: flex;
  width: 100%;
  outline: 3px solid red;
}

.containerInputLeft {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
  width: 50%;
}

.containerInput input {
  width: 600px;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  back
  border-bottom: 1px solid #fff;
}

.containerInputRight {
  display: flex;
  flex-direction: column;
  width: 50%;
}
