.container{
    width: 100%;
    color: #fff;
    margin-top: 170px;
}

.containerTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    padding-left: 200px;
    padding-right: 200px;
    outline: 2px solid red;
}

.containerTopLeft{
    display: flex;
    width: 640px;
    height: 100%;
    flex-direction: column;
    outline: 2px solid red;
}

.containerTopLeft span:first-of-type{
    font-size: 48px;
    font-weight: 500;
}

.containerTopLeft span:nth-of-type(2){
   font-size: 96px;
   font-weight: 500;
   color: #ED3A86;
   margin-top: 20px;
   margin-left: -7px;
}

.containerTopLeft span:nth-of-type(3){
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    margin-top: 20px;
    border-left: 7px solid #ED3A86;
}

.containerBottom{
    display: flex;
    height: 70px;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 30px;
    gap: 40px;
    outline: 2px solid red;
}

.containerBottom span{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 256px;
     height: 60px;
     font-size: 16px;
     color: #FFFFFF;
     border: 1px solid #848484;
     border-radius: 10px;
     outline: 2px solid red;
}

.containerImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.containerImg img {
    width: 100%;
}