.container{
    width: 100%;
    color: #fff;
    margin-top: 170px;
}

.containerTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    padding-left: 200px;
    padding-right: 200px;
    outline: 2px solid red;
}

.containerTopLeft{
    display: flex;
    width: 640px;
    height: 100%;
    flex-direction: column;
    outline: 2px solid red;
}

.containerTopLeft span:first-of-type{
    font-size: 48px;
    font-weight: 500;
}

.containerTopLeft span:nth-of-type(2){
   font-size: 96px;
   font-weight: 500; 
   color: #ED3A86;
   margin-top: 10px;
}