.container{
    width: 100%;
    color: #fff;
    margin-top: 170px;
}

.containerTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    outline: 2px solid red;
}

.container